.Chat {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  padding: 16px;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  overflow: overlay;
}

.Chat #scroller * {
  overflow-anchor: none;
}

.Chat #anchor {
  height: 1px;
  overflow-anchor: auto;
}

@media only screen and (max-width: 400px) {
  .Chat {
    padding: 8px 12px;
  }

  .Chat .connector {
    margin-left: 0;
  }
}
