.Chat {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  padding: 16px;
  position: relative;
  max-height: 100%;
  flex: 2;
}

.Chat #scroller * {
  overflow-anchor: none;
}

.Chat #anchor {
  height: 1px;
  overflow-anchor: auto;
}
