.Comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Comment .main-comment {
  display: flex;
  animation: slide-in 0.3s;
}

.Comment .main-comment .bubble {
  background-color: #f0f2f5;
  margin-bottom: 8px;
  border-radius: 18px;
  padding: 8px 12px;
  box-sizing: border-box;
  max-width: 100%;
}

.Comment .main-comment .info {
  display: flex;
  font-size: 12px;
}

.Comment .main-comment .info .author {
  font-family: "SFUIText-Medium";
  color: black;
  text-decoration: none;
  margin-right: 10px;
}

.Comment .main-comment .info .author:hover {
  text-decoration: underline;
}

.Comment .main-comment .info .score {
  display: flex;
  align-items: center;
  color: gray;
  margin-right: 12px;
  column-gap: 2px;
  cursor: pointer;
}

.Comment .main-comment .info .flair {
  background-color: white;
  color: gray;
  padding: 0 5px;
  border-radius: 3px;
  border: 1px solid lightgray;
  margin-right: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Comment .main-comment .info .timestamp {
  margin-left: auto;
  color: gray;
  min-width: 21px;
  text-align: right;
}

.Comment .main-comment .body {
  margin-top: 2px;
}

.Comment .main-comment .body p {
  line-height: 20px;
}

.Comment .main-comment .body .media {
  height: 18px;
  margin: 0 1px -3px;
}

.Comment .main-comment .body a {
  text-decoration: none;
  font-weight: 600;
  color: rgb(29, 155, 240);
}

.Comment .main-comment .body a:hover {
  text-decoration: underline;
}

.Comment .main-comment .spacer {
  min-width: 22px;
}

.Comment .main-comment .connector {
  height: 30px;
  min-width: 10px;
  margin-left: 12px;
  border-left: 1.5px solid #e2e4e7;
  border-bottom: 1.5px solid #e2e4e7;
  border-radius: 0 4px;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
}
