.Comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  animation: slide-in 0.4s;
  max-width: 100%;
  overflow: hidden;
}

.Comment .bubble {
  background-color: #f0f2f5;
  margin: 4px 0;
  border-radius: 18px;
  padding: 8px 12px;
  box-sizing: border-box;
  max-width: 100%;
}

.dark-mode .Comment .bubble {
  background-color: #3b3b3d;
  color: rgb(239, 239, 241);
}

.Comment .info {
  display: flex;
  font-size: 12px;
  white-space: nowrap;
}

.Comment .info .author {
  font-family: "SFUIText-Medium";
  color: black;
  text-decoration: none;
  margin-right: 10px;
}

.dark-mode .Comment .info .author {
  color: rgb(239, 239, 241);
}

.Comment .info a.author:hover {
  text-decoration: underline;
}

.Comment .info .author.deleted {
  color: gray;
}

.Comment .info .score {
  display: flex;
  align-items: center;
  color: gray;
  margin-right: 8px;
  column-gap: 2px;
  min-width: 25px;
}

.Comment .info .flair {
  background-color: white;
  color: gray;
  padding: 0 5px;
  border-radius: 3px;
  border: 1px solid lightgray;
  margin-right: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 14px;
}

.dark-mode .Comment .info .flair {
  background-color: rgb(100, 100, 100);
  border: 1px solid rgb(100, 100, 100);
  color: rgb(239, 239, 241);
}

.Comment .info .flair .flair-emoji {
  height: 12px;
  margin-bottom: -2px;
}

.Comment .info .timestamp {
  margin-left: auto;
  color: gray;
  min-width: 21px;
  text-align: right;
  font-family: inherit;
}

.Comment .info .timestamp:hover {
  text-decoration: none;
}

.Comment .body {
  margin-top: 2px;
}

.Comment .body p {
  line-height: 20px;
}

.Comment .body .emote {
  height: 18px;
  margin: 0 1px -3px;
}

.Comment .body .gif {
  border-radius: 8px;
  margin-top: 6px;
  max-width: 100%;
}

.Comment .connector {
  margin-left: 4px;
  min-width: 10px;
  background-color: transparent;
  border: none;
  border-left: 1.5px solid #e2e4e7;
  margin-bottom: 6px;
  cursor: pointer;
  position: relative;
}

.dark-mode .Comment .connector {
  border-left: 1.5px solid #383839;
}

.Comment .connector:hover {
  border-left: 1.5px solid hsl(216, 20%, 85%);
}

.dark-mode .Comment .connector:hover {
  border-left: 1.5px solid #59595b;
}

.Comment .replies-container {
  display: flex;
  max-width: 100%;
}

.Comment .replies {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  min-width: 0;
}

.Comment .replies-container.collapsed {
  height: 24px;
}

.Comment .replies-container.collapsed .connector {
  width: 100%;
}

.Comment .replies-container.collapsed .connector::after {
  content: "";
  width: 200px;
  max-width: 80%;
  height: 16px;
  background-color: #f0f2f5;
  position: absolute;
  top: 4px;
  left: 12px;
  border-radius: 8px;
}

.dark-mode .Comment .replies-container.collapsed .connector::after {
  background-color: #3a3b3c;
}

.Comment .replies-container.collapsed .connector:hover::after {
  background-color: hsl(216, 20%, 90%);
}

.dark-mode .Comment .replies-container.collapsed .connector:hover::after {
  background-color: hsl(210, 2%, 27%);
}

.Comment .replies-container.collapsed .replies {
  visibility: hidden;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
}
