.Home {
  display: flex;
  height: 100%;
}

.Home .Sidebar .arrow {
  width: 80px;
  margin-right: 8px;
  margin-bottom: -12%;
  margin-left: 12px;
  padding-bottom: 12px;
}

.Home .Sidebar .how-to-1,
.Home .Sidebar .how-to-2 {
  font-family: "IndieFlower-Regular";
  font-size: 28px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Home .Sidebar .how-to-2 {
  flex-direction: column;
}

.Home .Sidebar .how-to-1 .msg,
.Home .Sidebar .how-to-2 .msg {
  padding: 0 4px;
  flex: 1;
}

.Home .Sidebar .how-to-2 .big {
  text-align: center;
  font-size: 48px;
  margin-bottom: 16px;
}

.Home .Sidebar .url {
  max-width: 100%;
}
