.Home {
  display: flex;
  height: 100%;
}

.Home .Sidebar .arrow {
  width: 80px;
  margin-right: 8px;
  margin-bottom: -12%;
  margin-left: 12px;
  padding-bottom: 12px;
}

.dark-mode .Home .Sidebar .arrow {
  filter: invert();
}

.Home .Sidebar .how-to-1,
.Home .Sidebar .how-to-2 {
  font-family: "IndieFlower-Regular";
  font-size: 28px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Home .Sidebar .how-to-2 {
  flex-direction: column;
}

.Home .Sidebar .how-to-1 .msg,
.Home .Sidebar .how-to-2 .msg {
  padding: 0 4px;
  flex: 1;
}

.Home .Sidebar .how-to-2 .big {
  text-align: center;
  font-size: 48px;
  margin-bottom: 16px;
}

.Home .Sidebar .url {
  max-width: 100%;
}

.Home .Sidebar .url.dark {
  display: none;
}

.dark-mode .Home .Sidebar .url.dark {
  display: block;
}

.dark-mode .Home .Sidebar .url:not(.dark) {
  display: none;
}

.Home .main {
  align-items: center;
  justify-content: center;
}

.Home .main .logo {
  width: min(600px, 100%);
  padding: 0 16px;
  box-sizing: border-box;
  filter: drop-shadow(0 0 80px rgba(255, 255, 255, 0.25));
}

.Home .main .tag-line {
  margin-top: 12px;
  font-size: min(7vw, 32px);
  padding: 0 20px;
  text-align: center;
}

.Home .main .me {
  font-size: 16px;
  margin-top: 72px;
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: inherit;
  font-family: inherit;
}

.Home .main .me:hover {
  text-decoration: none;
}

.Home .main .me .github {
  height: 32px;
}

.dark-mode .Home .main .me .github {
  filter: invert();
}

.Home .ThemeSwitch {
  position: fixed;
  z-index: 1;
  top: 12px;
  right: 18px;
}
