.LogInBtn {
  position: fixed;
  z-index: 1;
  border: none;
  top: 15px;
  right: 54px;
  padding: 3px 8px;
  backdrop-filter: brightness(0.5) blur(10px);
  border-radius: 5px;
  overflow: hidden;
  color: white;
  display: flex;
  column-gap: 6px;
  font-size: 13px;
}

.LogInBtn a {
  color: inherit;
}
