.ScrollPauseIndicator {
  height: 32px;
  background-color: transparent;
  position: fixed;
  bottom: 60px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(239, 239, 241);
  border-radius: 5px;
  cursor: pointer;
  font-family: "SFUIText-Regular";
  font-size: 13px;
  column-gap: 4px;
  border: none;
  padding: 0 16px;
  backdrop-filter: brightness(0.5) blur(10px);
}
