.Thread {
  display: flex;
  height: 100%;
}

.Thread .sidebar p {
  margin: 6px 0 4px 0;
}

.Thread .sidebar .info-box,
.Thread .sidebar .stickied {
  background-color: white;
  border-radius: 6px;
  padding: 10px 14px;
  border: 1px solid lightgray;
  font-size: 12px;
  max-width: 100%;
  box-sizing: border-box;
  animation: slide-in 0.4s;
}

.Thread .sidebar .info-box .title-bar {
  border-bottom: 1px solid lightgray;
  padding-bottom: 7px;
  margin-bottom: 3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: auto;
}

.Thread .sidebar .info-box .title {
  font-size: 22px;
  margin-bottom: 3px;
  cursor: pointer;
  color: black;
}

.Thread .sidebar .info-box .title:hover {
  text-decoration: none;
}

.Thread .sidebar .info-box .title-bar .flair {
  background-color: #f0f2f5;
  padding: 0 5px;
  border-radius: 3px;
  border: 1px solid lightgray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
  margin: 0 3px;
}

.Thread .sidebar .info-box .title-bar .by-line .flair-emoji {
  height: 14.5px;
  margin-bottom: -3px;
}

.Thread .sidebar .info-box .by-line {
  color: gray;
  font-size: 12px;
  margin-bottom: 4px;
  display: flex;
  column-gap: 4px;
  flex-wrap: wrap;
}

.Thread .sidebar .info-box .by-line a {
  color: gray;
  font-family: "SFUIText-Regular";
}

.Thread .sidebar .info-box .title-bar .link-flair {
  background-color: rgb(175, 175, 175);
  font-family: "SFUIText-Regular";
  font-size: 14px;
  color: white;
  padding: 1px 6px;
  border-radius: 3px;
}

.Thread .sidebar .info-box .title-bar .link-flair .flair-emoji {
  height: 16px;
  margin-bottom: -3px;
}

.Thread .sidebar .info-box .selftext {
  overflow: auto;
}

.Thread .sidebar .info-box .stats {
  display: flex;
  column-gap: 10px;
  margin-top: 8px;
}

.Thread .sidebar .info-box .stats .badge {
  display: flex;
  align-items: center;
  color: gray;
  font-family: "SFUIText-Light";
  font-size: 14px;
  column-gap: 4px;
  min-width: 60px;
}

.Thread .sidebar .stickied .by-line {
  color: gray;
  margin-bottom: 4px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 4px;
}

.Thread .sidebar .stickied .author {
  color: gray;
}

.Thread .sidebar .stickied .by-line .indicator {
  color: #75d377;
}

.Thread .sidebar .stickied .timestamp {
  margin-left: auto;
  color: gray;
  font-family: inherit;
}

.Thread .sidebar .stickied .timestamp:hover {
  text-decoration: none;
}

.Thread .sidebar .stickied .body {
  overflow: auto;
}

.Thread .sidebar .stickied .body .gif {
  border-radius: 8px;
  margin-top: 6px;
}

.Thread .sidebar .not-found-msg {
  font-size: 22px;
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
  text-align: center;
  padding: 0 16px;
  max-width: 300px;
  line-height: 30px;
}

.Thread .main .Throbber {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.Thread .main .no-comments-msg {
  position: absolute;
  top: 50%;
  align-self: center;
}
