.hidden {
  visibility: hidden;
}

p {
  margin: 0;
}

h1 {
  margin: 8px 0;
  font-size: 1.6em;
}

ul,
ol {
  margin: 6px 0;
  padding-left: 30px;
}

table {
  border: 2px solid #e8e2e6;
  border-collapse: collapse;
  margin: 8px 0;
}

td,
th {
  border: 1px solid #e8e2e6;
  padding: 4px 8px;
}

th {
  text-align: center;
}

strong {
  font-family: "SFUIText-Medium";
}

a {
  text-decoration: none;
  color: rgb(29, 155, 240);
}

a:hover {
  text-decoration: underline;
}

hr {
  margin: 10px 0;
}

blockquote {
  margin: 10px 6px;
  padding-left: 8px;
  border-left: 4px solid rgb(188, 188, 188);
  color: rgb(109, 109, 109);
}

strong {
  font-weight: 500;
}
